.landing-page-leaf{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  .brand-name {
    font-size: 3em;
  }
}

.landing-page-leaf:before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url('../../assets/images/photo-1444730558009-b7f0368e1264.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding: 10em 5em;

  min-height: 100%;
  width: 100%;

  filter: invert(35%)
}
