<div layout="column" layout-align="center center" layout-margin>
  <md-content layout-padding layout-margin layout-fill>
    <md-subheader class="">
      <md-icon md-svg-src="assets/images/icons/ic_person_add_black_32px.svg" class="grey"></md-icon>
      Create account
    </md-subheader>
    <md-divider></md-divider>
    <form ng-submit="signupCtrl.register()">
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Name</label>
        <md-icon md-svg-src="assets/images/icons/ic_person_black_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Email</label>
        <md-icon md-svg-src="assets/images/icons/ic_email_black_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Password</label>
        <md-icon md-svg-src="assets/images/icons/ic_lock_black_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Re-Password</label>
        <md-icon md-svg-src="assets/images/icons/ic_lock_black_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
      </md-input-container>
      <md-button type="submit" class="md-block md-warn">Submit</md-button>
    </form>
  </md-content>
</div>
